<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterController</filter-name>
        <filter-class>vuha.filter.FilterController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vuha.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>vuha.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationController</servlet-name>
        <servlet-class>vuha.controllers.VerificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendGmailController</servlet-name>
        <servlet-class>vuha.controllers.SendGmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>vuha.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>vuha.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>vuha.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>vuha.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>vuha.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountController</servlet-name>
        <servlet-class>vuha.controllers.DiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>vuha.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>vuha.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailHController</servlet-name>
        <servlet-class>vuha.controllers.ViewDetailHController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderController</servlet-name>
        <servlet-class>vuha.controllers.RemoveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackController</servlet-name>
        <servlet-class>vuha.controllers.SendFeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationController</servlet-name>
        <url-pattern>/VerificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendGmailController</servlet-name>
        <url-pattern>/SendGmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountController</servlet-name>
        <url-pattern>/DiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailHController</servlet-name>
        <url-pattern>/ViewDetailHController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderController</servlet-name>
        <url-pattern>/RemoveOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackController</servlet-name>
        <url-pattern>/SendFeedbackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
